# git
alias gits='git sta'
alias gitci='git ci'
alias gitco='git co'
alias gitbr='git br'
alias gitd='git diff'
alias gitdh='git diff HEAD^'
alias gitdd='git diff develop'
alias gitad='git add'
alias gitla='git loga'
alias gitp='git pull --rebase'
alias gitcim='git ci -am'
alias gitps='git push'
alias gitrs='git reset --soft HEAD^'
alias gitsu='git submodule update --init --recursive'
alias gitsta='git stash'
alias gitstap='git stash pop'
alias git-merged-branch='git branch --merged|egrep -v "\*|develop|main|master"'
alias git-merged-branch-delete='git branch --merged|egrep -v "\*|develop|main|master" | xargs git branch -d'

# cool-peco
alias cps=cool-peco-ps
alias gitc=cool-peco-git-checkout
alias gitl=cool-peco-git-log
alias pecoref="cat ~/.zshrc | grep -i cool-peco"


# docker
function dc() {
    docker compose "$@"
}

alias zmv='noglob zmv -W'